* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
}

.container {
    --size: 16;
    display: grid;
    margin: 20px auto;
    width: 480px;
    height: 480px;
    grid-template-columns: repeat(var(--size), auto);
    grid-template-rows: repeat(var(--size), auto)
}

.cell {
    background-color: blue;
    width: auto;
    height: auto;
}

#write-size {
    display: block;
}
